doctype html
html
  head
  body
    #root
    #welcome
    #state
    script(src="/assets/lib/react/main/umd/react.development.js")
    script(src="/assets/lib/react-dom/main/umd/react-dom.development.js")
    script(src="/jsx/index.js")
